services:
  lara:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
      - "5173:5173"
    environment:
      - APP_ENV=local
      - APP_DEBUG=1
